@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

h1,h2,h3{
  line-height: 1.2;
  letter-spacing: 1.2px;
  color: $darkBlue;
}

h1{
  font-size: 37px;
}

h2{
  font-size: 30px;
}

p{
  line-height: 1.5;
  margin-bottom: 36px;
}

.container{
  max-width: 1110px;
  margin: 0 auto;

  &--pall{
    padding: 70px 24px;
  }

  &--py{
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &--px{
    padding-left: 24px;
    padding-right: 24px;
  }

  &--pr{
    padding-right: 24px;
  }

  &--pl{
    padding-left: 24px;
  }

  &--pb{
    padding-bottom: 70px;
  }



}

.flex{
  display: flex;
  &-js-sb{
    justify-content: space-between;
  }

  &-jc-c{
    justify-content: center;
  }

  &-ai-c{
    align-items: center;
  }


}