@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

h1,h2,h3{
  line-height: 1.2;
  letter-spacing: 1.2px;
  color: $darkBlue;
}

